.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 3.5%;
}

.img-gallery img{
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
}

.img-gallery img:hover{
    transform: scale(0.95);
    border-radius: 10px;
    box-shadow: 0 32px 75px rgb(57, 56, 56);
}
.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(4, 4, 4, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img{
    width: 75%;
    max-width: 800px;
}

.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
}


.gallery-para{
    margin-left: 38.75%;
}

.gallery-para h2{
   margin-top: 55px;
   text-transform: none;
   font-size: 50px;
   color: #fff;
}


/* mobile version */

@media only screen and (max-width:430px){
    .gallery-para{
        margin-left: 11%;
    }
    
    .gallery-para h2{
       margin-top: 30px;
       text-align: center;
       margin-left: -15%;
    }

    .img-gallery{
        
        margin-top: 5.5%;
    }


    }
