.contact-container{
    height: 80vh;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    margin-right: 60%;
    margin-top: 2.5%;
}

.contact-box{
    display:flex ;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}

.contact-box-title h2{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
    text-transform: none;
    color: #fff;
}



.contact-input {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: black;
    border-radius: 10px;
    border-bottom: 2px solid #777777;
}

.contact-box textarea{
    height: 100px;
    padding-top: 15px;
    border-radius: 5px;
}

.contact-input:focus{
    border: 2px solid orange;
}

.contact-box button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border-radius:10px;
    border: none;
    cursor: pointer;
    background-color: orange;
    
}



.paragraphs {
    margin-left: 35%;
    font-size: 50px;
    margin-top: -28%;
    text-align: center;


}

.paragraphs h3{
    color: white;
}

.paragraphs h2{
    text-transform: none;
}

.paragraphs p{
    margin-top: 20px;
    font-size: 18px;
    color: white;
}

@media only screen and (max-width:430px) {
    .contact-container{
        margin-left: 15%;
        margin-top: -2.5%;
    }

    .contact-input {
        width: 300px;
        
    }
    
    .contact-box-title h2{
        text-align: center;
    }
    
    .contact-box button{
        background-color: #192841;
        margin-left: 100px;
        width: 12vh;
    }

    .paragraphs h3{
        color: white;
        margin-left: -67.5%;
        text-align: right;
        font-size: 6.2vh;
    }
    
    .paragraphs h2{
        text-transform: none;
        margin-left: -53%;
        text-align: center;
        font-size: 3vh;   
    }

    .paragraphs p{
        margin-left: -55%;
        margin-top: 20px;
        font-size: 2vh;
        color: white;
    }
}